<!-- Loader -->
<div *ngIf="loading" class="flex justify-center items-center w-full h-[70vh]">
  <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"></div>
</div>

<!-- Main Content -->
<div *ngIf="!loading" class="mt-10 px-20 w-full flex flex-col justify-center items-center">
  <h2 class="self-center text-2xl my-5 font-medium">Discover ALL {{productType.toLocaleUpperCase()}}</h2>

  <!-- Filters Section -->
  <div class="flex justify-between items-center w-full my-5">
      <div class="flex items-center gap-4 ml-[40px]">
          <label for="priceRange" class="text-md font-medium">Filter by Price:</label>
          <select id="priceRange"
              class="border px-4 py-2 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
              (change)="setPriceFilter($event)">
              <option value="">All</option>
              <option value="low">Low (Below $10)</option>
              <option value="medium">Medium ($10 - $15)</option>
              <option value="high">High (Above $15)</option>
          </select>
      </div>
      <input type="text" placeholder="Search by title"
          class="border px-4 py-2 rounded-md w-[300px] focus:outline-none focus:ring focus:ring-blue-300 mr-[40px]"
          (input)="setSearchQuery($event)" />
  </div>

  <!-- Products Grid -->
  <div class="grid grid-cols-5 content-center w-full gap-y-28">
      <div *ngFor="let item of paginatedProducts" class="w-full gap-3 mx-[40px]">
          <div>
              <img class="books w-[200px] h-[300px] object-cover" [src]="item.imgUrl" alt="" />
              <h3 class="text-xl font-medium px-1 py-2 text-ellipsis overflow-hidden whitespace-nowrap w-[200px]">
                  {{item.title}}
              </h3>
              <h4 class="text-md mb-3 px-1 text-gray-400">{{item.description}}</h4>
          </div>
          <div class="flex justify-between items-center px-1 w-[200px]">
              <h4 class="text-lg font-semibold">${{item.price}}</h4>
              <div id="book1"
                  class="bg-blue-500 rounded-md flex justify-evenly items-center gap-1 p-1 px-2 text-white cursor-pointer"
                  (click)="addToCartClicked(item)">
                  <h6 class="font-bold">Add</h6>
                  <img src="/assets/cart-icon-white.png" alt="" width="20px" class="h-[20px]" />
              </div>
          </div>
      </div>
  </div>
</div>
